h1 {
    font-size: var(--fluid-5);
    font-weight: 900;
    margin-bottom: 2rem;
	  letter-spacing: -0.02rem;
}

h2 {
    font-size: var(--fluid-4);
	  font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 4rem;
	  letter-spacing: -0.02rem;
}

h3 {
    font-size: var(--fluid-3);
    font-weight: 600;
    margin-bottom: 1rem;
}

h4 {
    font-size: var(--fluid-2);
    font-weight: 600;
    margin-bottom: 1rem;
}

h5 {
    font-size: var(--fluid-1);
    font-weight: 500;
    margin-bottom: 1rem;
}

h6 {
    font-size: var(--fluid-0);
        font-weight:500;
    margin-bottom: 1rem;
}
