img {
    display: block;
    max-width: 100%;
}

article.container div.img {
    padding: var(--spacing-x-large) 0;

    img {
        margin-bottom: 4px;
    }
}

p img,
div.cover-image {
    padding: var(--spacing-x-large) 0;
}