a {
    color: var(--primaryColor);
    text-decoration: underline;
    font-weight: 500;

    // &:hover {
    //     // 
    // }
    svg {
        display: inline-block;
        fill: currentColor;
    }
}
