ul,
ol {
  font-size: var(--fluid-0);
  line-height: 1.5;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: var(--spacing-xx-small);
  }
}

li > {
  ul,
  ol {
    margin-left: var(--spacing-medium);
    margin-bottom: 0;
  }
}

section.list {
  margin: var(--spacing-xx-large) 0;
}

article.container {
  ul {
    list-style: inside circle;
  }

  ol {
    list-style: inside decimal;
  }

  div.gallery {
    ul {
      list-style: none;
    }
  }
}

.cover-links {
  margin: var(--spacing-x-large) 0;

  @media screen and (min-width: 48em) {
    display: flex;

    ul {
      width: 33.333%;
    }
  }
}
