p {
    font-size: var(--fluid-0);
    line-height: 1.75;
    max-width: var(--container-max-ch);
    margin-top: var(--spacing-x-small);
    margin-bottom: var(--spacing-x-small);

    &.lead {
        font-size: var(--fluid-2);
        line-height: 1.4;
        font-weight: 500;
    }
}

blockquote {
    p {
        font-size: var(--fluid-1);
        line-height: 1.5;
        font-weight: 500;
    }

    margin: var(--spacing-x-large) 0;
    border-left: 2px solid var(--textColor);
    padding-left: var(--spacing-x-large)
}

pre {
    background: var(--textColor);
    color: var(--backgroundColor);
    padding: var(--spacing-medium) var(--spacing-large);
    border-radius: var(--spacing-x-small);
    line-height: 1.75;

    code {
        background: inherit;
        color: inherit;
    }
}

code {
    background: var(--textColor);
    color: var(--backgroundColor);
}

hr {
    border: none;
    margin: var(--spacing-x-large) auto;

    &::before {
        content: '• • •';
        display: block;
        text-align: center;
    }
}