<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <a class="GitHub" href="https://github.com/fupete/danieletabellini/blob/main/{{ page.inputPath }}">
            {%- if page.lang == 'it' %}Proponi una modifica a questa pagina{% else %}Propose an edit to this page{%
            endif %}</a>
        <a class="GitHub" href="https://github.com/Fupete/danieletabellini/issues/new/choose">
            {%- if page.lang == 'it' %}Lasciami un messaggio o suggerisci un'idea{% else %}Drop me a note or
            suggest an idea{% endif %}</a>
        <p class="me">
            &copy; {{ build.timestamp | dateToFormat('yyyy') }} - Daniele Tabellini<br />
        </p>
        {%if page.fileSlug == '/' or page.fileSlug == 'en' or page.fileSlug == 'it'%} <p>
            PI/VAT 02383240500<br />Via
            XXI Aprile, 41 - 56040<br />Crespina Lorenzana (PI) - Italy<br />
        </p>{% endif %}
        <p>
            {%- if page.lang == 'it' %}Tutti i diritti riservati eccetto dove specificato diversamente.<br /> Il
            sorgente di questo sito web è <a href="https://github.com/Fupete/danieletabellini/">disponibile su
                GitHub</a> con licenza aperta.{% else %}All rights reserved except where otherwise stated.<br /> The
            source of this website is <a href="https://github.com/Fupete/danieletabellini/">available on GitHub</a>
            under an open license.{% endif %}
        </p>
        <div class="speedlify" style="margin-top: var(--spacing-large)">
            {% set urlWithOrigin %}https://danieletabellini.com{{page.url}}{% endset %}
            {% if speedlify[urlWithOrigin] %}
            <a href="https://iridescent-squirrel-c9bbac.netlify.app/danieletabellini.com/" class="speedlify-link">
                <speedlify-score hash="{{ speedlify[urlWithOrigin].hash }}" speedlify-url="https://iridescent-squirrel-c9bbac.netlify.app"></speedlify-score>
                <span class="visually-hidden">{%- if page.lang == 'en' %}I use Speedlify to monitor the website
                    performance, discover more{% else %}Uso Speedlify per monitorare le performance del sito, scopri di più{% endif %}</span>
            </a>
            {%- endif %} 
        </div>
    </div>
</footer>
