<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><small><a href="https://github.com/fupete/danieletabellini/blob/main/{{ page.inputPath }}">
			{%- if page.lang == 'it' %}Modifica questa pagina su GitHub{% else %}Edit this page on GitHub{% endif %}</a><br />
            <a href="https://github.com/Fupete/danieletabellini/issues/new/choose">
                {%- if page.lang == 'it' %}Lasciami un messaggio o suggerisci un'idea{% else %}Drop me a note or suggest an idea{% endif %}</a><br />
			<span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} - Daniele Tabellini</span></small></p>
    </div>
</footer>
