<nav class="nav nav--primary" role="navigation" tabindex="-1">
    {# Nav Links #}
    <ul class="nav__menu">
        <li class="nav__item">
            {% set homeUrl %}/{{page.lang}}/{% endset %}
            <a class="nav__link" href="{{homeUrl | url}}">
            {% if page.lang == 'en' %}Cover{% else %}Copertina{% endif %}
            </a>
        </li>
        <li class="nav__item">
            {% set aboutUrl %}/{{page.lang}}/about/{% endset %}
            <a class="nav__link" href="{{aboutUrl | url}}">
            {% if page.lang == 'en' %}About{% else %}Chi siamo{% endif %}
            </a>
        </li>
        <li class="nav__item">
            {% set notesUrl %}/{{page.lang}}/notes/{% endset %}
            <a class="nav__link" href="{{notesUrl | url}}">
            {% if page.lang == 'en' %}Notes{% else %}Note{% endif %}
            </a>
        </li>
        <li class="nav__item nav__lang">
            {% if page.lang == 'en' %}
                <a class="nav__link" href="{{"/it/" | url}}">Italiano</a>
            {% else %}
                <a class="nav__link" href="{{"/en/" | url}}">English</a>
            {% endif %}
        </li>
    </ul>
</nav>