// Main Site Layout

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  padding: var(--spacing-x-large) var(--spacing-medium); // fallback
  padding: var(--spacing-x-large)
    clamp(var(--spacing-small), 3.75vw, var(--spacing-x-large));

  --gap: clamp(0px, 6vw, 0px);
  --full: minmax(var(--gap), 1fr);
  --content: min(68ch, 100% - var(--gap) * 2);
  --popout: minmax(0, var(--spacing-x-large));
  --feature: minmax(0, var(--spacing-xx-large));

  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(
      --popout
    )
    [content-start] var(--content) [content-end] var(--popout) [popout-end] var(
      --feature
    )
    [feature-end] var(--full) [full-end];

  & > * {
    grid-column: content;
  }

  .popout,
  .c-an {
    grid-column: popout;
  }

  .feature,
  .gallery,
  table,
  pre {
    grid-column: feature;
  }

  .full {
    grid-column: full;
  }
}
