.eleventy-plugin-embed-instagram,
.eleventy-plugin-embed-twitter,
.eleventy-plugin-vimeo-embed,
.eleventy-plugin-embed-spotify,
.eleventy-plugin-youtube-embed {
    width: 100%;
    max-width: var(--container-max-ch);
    margin: 3rem 0 !important;
}

lite-youtube {
    max-width: var(--container-max-ch) !important;
}

.eleventy-plugin-vimeo-embed {
     padding-top: calc(var(--container-max-ch) / (16 / 9)) !important;
}
