/* stylelint-disable */
/* xxx to be simplified */

ul.links-nextprev {
  margin: var(--spacing-xx-large) 0;
  font-size: 0.875rem;
}

.site-footer {
  .container {
    position: relative;
    margin: var(--spacing-xx-large) auto;
    margin-bottom: 0;

    a {
      &.GitHub {
        font-size: 0.875rem;
        padding: var(--spacing-x-small) 0;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.6;

      &.me {
        font-weight: 500;
        margin-top: var(--spacing-large);
      }
    }
  }
}

.nav--footer {
  a {
    display: block;
    padding: 0.25em 0;
  }

  ul {
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: var(--spacing-x-large);

    @media (width >=47.9375em) {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
    }
  }

  li {
    margin-right: var(--spacing-large);

    &.nav__item--active {
      a {
        font-weight: 600;
        text-decoration: none;
        color: var(--text-color);
      }
    }
  }
}

a.speedlify-link {
  text-decoration: none !important;
  display: block;
  width: fit-content;
  color: var(--textColor);
  margin-bottom: var(--spacing-x-small);
}

p.estimatedCo2 {
  margin: 0;
}

/* stylelint-enable */