ul.links-nextprev {
    margin: var(--spacing-xx-large) 0;
    font-size: .875rem;
}

.site-footer {
    .container {
        position: relative;
        margin: var(--spacing-xx-large) auto;

        a.GitHub {
            font-size: .875rem;
            padding: var(--spacing-x-small) 0;
        }

        p {
            font-size: .875rem;
            line-height: 1.6;

            &.me {
                font-weight: 500;
                margin-top: var(--spacing-large);
            }
        }
    }
}