ul.links-nextprev {
  margin: var(--spacing-xx-large) 0;
  font-size: 0.875rem;
}

.site-footer {
  .container {
    position: relative;
    margin: var(--spacing-xx-large) auto;
    margin-bottom: 0;

    a {
      &.GitHub {
        font-size: 0.875rem;
        padding: var(--spacing-x-small) 0;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.6;

      &.me {
        font-weight: 500;
        margin-top: var(--spacing-large);
      }
    }

    .site-footer__inner__page-related {
      margin-bottom: var(--spacing-xx-large);
    }

    .site-footer__inner__main {
      border-top: 1px dotted var(--tableBorderColor);
      padding-top: var(--spacing-large);
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-medium);
      flex-wrap: wrap;

      .nav--footer {
        a {
          display: block;
          padding: 0.25em 0;
        }

        ul {
          font-size: 0.875rem;
          font-weight: 500;
          margin-top: var(--spacing-x-large);

          @media (width >=47.9375em) {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
          }
        }

        li {
          margin-right: var(--spacing-large);

          &.nav__item--active {
            a {
              font-weight: 600;
              text-decoration: none;
              color: var(--text-color);
            }
          }
        }
      }

      .site-footer__inner__bench-related {
        display: flex;
        flex-flow: column wrap;

        @media (width >=64.0625em) {
          align-items: flex-end;
        }

        & {
          gap: var(--spacing-small);
        }

        a.speedlify-link {
          text-decoration: none !important;
          display: block;
          width: fit-content;
          color: var(--textColor);
          margin-bottom: var(--spacing-x-small);
        }

        p.estimatedCo2 {
          margin: 0;

          @media (width >=64.0625em) {
            max-width: 24ch;
            text-align: right;
          }
        }
      }
    }
  }
}