.gallery ul {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.gallery ul li {
    flex-grow: 1;
    cursor: pointer;
    height: 124px;
    position: relative;
    margin: 0;
    @media screen and (min-width: 48em) {
            height: 172px;
    }
    @media screen and (min-width: 64.0625em) {
            height: 240px;
    }
}

.gallery ul li img {
    // border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

 .gallery ul::after {
    content: "";
    flex-grow: 11;
 }