.pswp--custom-icon-colors {
    --pswp-icon-color: #00fffc;
    --pswp-icon-color-secondary: #333;
}

.pswp {
    --pswp-bg: var(--backgroundColor);
}

.pswp__button,
.pswp__counter {
    color: var(--textColor);
    text-shadow: 1px 1px 3px var(--backgroundColor);
}

.gallery {

    ul {
        padding: var(--spacing-x-large) 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 4px;

        li {
            height: 124px;
            position: relative;
            margin: 0;
            flex-grow: 1;

            @media screen and (min-width: 48em) {
                height: 172px;
            }

            @media screen and (min-width: 64.0625em) {
                height: 240px;
            }

            a {
                cursor: zoom-in;
                width: 100%;
                display: block;
                height: 100%;
                display: flex;

                img {
                    object-fit: cover;
                    object-position: 50% 50%;
                    height: 100%;
                    flex-grow: 1;
                }
            }
        }

        &::after {
            content: "";
            flex-grow: 99;
        }
    }
}