ol.notelist {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10rem;
}

.notelist-item:has(a + time) h2 {
    margin-bottom: 1rem;
}

.note-metadata {
    margin: 4rem 0;
    font-weight: 500;
    font-size: 0.875rem;
}