ol.notelist {
    list-style-type: none;
    padding: 0;
    margin-bottom: var(--spacing-xx-large);
}

.notelist-item:has(a + time) h2 {
    margin-bottom: var(--spacing-medium);
}

.notelist-item {
    h2 {
        margin-bottom: var(--spacing-small);
    }
    .notelist-date, a.note-tag {
        font-size: .875rem;
    }
}

.notelist-image {
    margin: var(--spacing-x-large) 0;
    height: calc(100vw / (21 / 9));

    @media screen and (min-width: 48em) {
        height: calc(var(--container-max-ch) / (21 / 9));
    }

    img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }
}

.note-metadata {
    margin: var(--spacing-xx-large) 0;
    font-weight: 500;
    font-size: 0.875rem;
}