nav.toc {
	// margin: var(--spacing-medium) 0;

	ol {
		counter-reset: index;
	}

	li {
		display: block;
		counter-increment: index;
		padding: var(--spacing-xx-small) 0;

		&:before {
			font-size: 0.875rem;
			font-weight: 500;
			margin-right: var(--spacing-x-small);
			content: counters(index, '.', decimal) '0';
		}

		a {
			font-weight: 600;
		}

		ol {
			// nested empty h3+ "ol" - accessibility hack
			display: none;
		}
	}
}
