nav.toc {

    margin: 2rem 0;

    ol {
        counter-reset: index;
    }

    li {
        display: block;
        counter-increment: index;

        &:before {
            font-size: .875rem;
            margin-right: .5rem;
            content: counters(index, '.', decimal-leading-zero) ' ';
        }
    }
}