nav.toc {
    ol {
        counter-reset: index;
    }

    li {
        display: block;
        counter-increment: index;

        &:before {
            content: counters(index, '.', decimal-leading-zero) ' ';
        }
    }
}