---
title: Design
description: "Progetti di design a cura di Daniele Tabellini"
layout: base
permalink: /it/design/
eleventyNavigation:
key: Design
order: 1
---

<section class="container">
  <div class="full">
    <h1>Design</h1>
  </div>
  {% include "projectslist.njk" %}
</section>