---
title: Idee
description: "Approfondimenti di Daniele Tabellini"
layout: base
permalink: /it/idee/
eleventyNavigation:
  key: Ideas
  order: 2
---

<div class="container">
    <h1>Idee</h1>
    {% include "ideaslist.njk" %}
</div>
