---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container home">


  <h1>Il design riguarda il fare e le persone: usi le mani per fare qualità per tutte</h1>

  <p class="lead">Sono Daniele Tabellini</p>

  <div class="cover-image">{% image "dt-2024-01.jpg", "Disegno e gioco col colore Blu Italia #0066CC" %}</div>

  <p><strong>Principal Designer</strong> / <strong>Artista</strong> / <strong>Esperto UI/UX Designer al Dipartimento per la trasformazione digitale - Presidenza del Consiglio dei Ministri</strong> / <strong>Professore a contratto in Digital Experience Lab a Design UNIRSM</strong> / Ex Lcd Firenze / Ex ROJO Magazine / #a11y #openDesign #openSource #hacking #designGov #drawing #liveDrawing #digitalBrut #creativeCoding #performanceArt</p>

  <ul>
    <li><a href="https://www.linkedin.com/in/danieletabellini">LinkedIN</a></li>
  </ul>
  

  {# {% set noteslist = collections["notes_" + page.lang] %}
  {% include "home-noteslist.njk" %}

  <label for="site-search" class="input-search-label">Cerca</label>
  <div id="search" class="search"></div>

  {% set noteUrl %}/en/notes/{% endset %}
  <p style="margin-top:6rem"><a href="{{noteUrl| url}}">Esplora tutte le note</a></p>
  {% set tagUrl %}/en/tags/{% endset %}
  <p><a href="{{tagUrl | url}}">Esplora tutti i tag</a></p> #}

</div>
