---
layout: base
eleventyNavigation:
key: Home
order: 1
date: git Last Modified
---

<div class="container home">


  <h1>La mia ricetta di design: persone, qualità e un pizzico di sale</h1>

  <p class="lead">Sono Daniele Tabellini</p>

  <p>Curo <strong><a href="https://designers.italia.it/design-system/">.Italia il design system del Paese</a></strong>
    per Designers Italia. Mi occupo di usabilità, accessibilità, open source e open design per il Dipartimento per la
    trasformazione digitale. Insegno <strong><a href="https://design.unirsm.sm/courses/digital-experience-lab/">concept
        design e creative coding</a></strong> a Design UNIRSM. Con Erika Gabbani facciamo <strong><a
        href="https://tellerk.com/portfolio/drawings/">arte</a></strong> come Teller & K (T+K, già Fupete), <strong><a
        href="https://nasonero.studio/portfolio">produzione, curatela e design</a></strong> come nasonero.studio</p>
      
  <div class="cover-image feature">{% image "dt-2024-01.jpg", "Disegno e gioco col colore Blu Italia #0066CC", "100vw", [640, 1280, 1920], "eager" %}</div>

  <p><strong>Principal Designer</strong> / <strong>Artista</strong> / <strong>Consulente Art Director e Design
      Technologist</strong> / <strong>Esperto UI/UX Designer al Dipartimento per
      la trasformazione digitale della Presidenza del Consiglio dei Ministri</strong> / <strong>Professore a contratto
      in
      Digital Experience Lab a Design UNIRSM</strong> / Ex Lcd Firenze / Ex ROJO Magazine / Ex E-Tree</p>

  <p>Temi di interesse: #designGov #designSystem #a11y #openDesign
    #openSource #drawing #digitalBrut #creativeCoding #performingArts</p>


  <div class="cover-links">
    <ul>
      <li><a
          href="https://presidenza.governo.it/AmministrazioneTrasparente/ConsulentiCollaboratori/allegati_2021/Tabellini_Daniele_CV.pdf">Design
          CV</a></li>
      <li><a href="https://design.unirsm.sm/people/daniele-tabellini/">UNI.RSM profile</a></li>
    </ul>
    <ul>
      <li><a href="https://www.linkedin.com/in/danieletabellini">LinkedIN</a></li>
      <li><a href="https://x.com/fupete">X</a></li>
      <li><a href="https://mastodon.uno/@fupete">Mastodon</a></li>
      <li><a href="https://github.com/fupete">GitHub</a></li>
    </ul>
    <ul>
      <li><a href="https://nasonero.studio">nasonero.studio</a></li>
      <li><a href="https://tellerk.com/it/">tellerk.com</a></li>
    </ul>
  </div>
  {# {% set ideaslist = collections["ideas_" + page.lang] %}
  {% include "home-ideaslist.njk" %}

  <label for="site-search" class="input-search-label">Cerca</label>
  <div id="search" class="search"></div>

  {% set ideaUrl %}/en/ideas/{% endset %}
  <p style="margin-top:6rem"><a href="{{ideaUrl| url}}">Esplora tutte le idee</a></p>
  {% set tagUrl %}/en/tags/{% endset %}
  <p><a href="{{tagUrl | url}}">Esplora tutti i tag</a></p> #}

</div>
