---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - idea
    - ideas
    - tagList
  addAllPagesToCollections: true
layout: base
eleventyComputed:
  title: Taggati “{{ tag }}”
permalink: /it/tags/{{ tag | slugify }}/
---

<div class="container">
  <h1>Idee taggate "{{ tag }}"</h1>
  {% set tagUrl %}/it/tags/{% endset %}
  <p><a href="{{tagUrl | url}}">Browse all tags</a></p>
  {% set ideaslist = collections[tag] %}
  {% include "ideaslist.njk" %}
</div>





