/*
Font families defined by this CSS:

- "Titillium Pro"                  static "traditional" fonts for older web browsers

Use like this in your CSS:

  :root { font-family: 'Titillium Pro', sans-serif; }
 
------------------------- static ------------------------- */

@font-face {
  font-family: 'Inter Subset'; // XXX I need a titillium pro subset
  font-display: swap;
  src:
    url('/assets/fonts/inter/Inter-Regular-subset.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-Regular-subset.woff') formt('woff');
  unicode-range: U+21-80, U+91-94, U+BF-D6, U+D8-F6, U+F8-122;
}

@font-face {
  font-family: 'Titillium Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Regular-Web.woff2') format('woff2'),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Regular-Web.woff') format('woff');
}

@font-face {
  font-family: 'Titillium Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Regular-Italic-Web.woff2') format('woff2'),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Regular-Italic-Web.woff') format('woff');
}

@font-face {
  font-family: 'Titillium Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(''),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Semibold-Web.woff2') format('woff2'),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Semibold-Web.woff') format('woff');
}

@font-face {
  font-family: 'Titillium Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Bold-Web.woff2') format('woff2'),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Bold-Web.woff') format('woff');
}

@font-face {
  font-family: 'Titillium Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local(''),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Black-Web.woff2') format('woff2'),
    url('/assets/fonts/titillium-pro/TitilliumSansPro-Black-Web.woff') format('woff');
}

body {
  font-family: sans-serif;
  font-kerning: normal;
}

.fonts-loaded-1 body {
  font-family: 'Inter Subset';
}

.fonts-loaded-2 body {
  font-family: 'Titillium Sans Pro';
}
