---
title: Design
description: "Design projects curated by Daniele Tabellini"
layout: base
permalink: /en/design/
eleventyNavigation:
  key: Design
  order: 1
---

<section class="container">
  <div class="full">
    <h1>Design</h1>
  </div>
  {% include "projectslist.njk" %}
</section>
