---
title: Ideas
description: "Insights by Daniele Tabellini"
layout: base
permalink: /en/ideas/
eleventyNavigation:
  key: Ideas
  order: 2
---

<div class="container">
    <h1>Ideas</h1>
    {% include "ideaslist.njk" %}
</div>
