---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container home">

  <h1>Design is about making and people: you use your hands to make quality for all</h1>
  <p class="lead">I'm Daniele Tabellini</p>

  <p><strong>Principal Designer</strong> / <strong>Artist</strong> / <strong>Expert UI/UX Designer at Dept. For Digital Transformation - Italian Gov</strong> / <strong>Adj. Professor in Digital Experience Lab at Design UNIRSM</strong> Ex Lcd Firenze / Ex ROJO Magazine / #a11y #openDesign #openSource #designGov #drawing #digitalBrut #creativeCoding</p>
  <p>
    <a href="https://www.linkedin.com/in/danieletabellini/?locale=en_US">LinkedIN</a>
  </p>


  {# {% set noteslist = collections["notes_" + page.lang] %}
  {% include "home-noteslist.njk" %}

  <label for="site-search" class="input-search-label">Search</label>
  <div id="search" class="search"></div>

  {% set noteUrl %}/en/notes/{% endset %}
  <p style="margin-top:6rem"><a href="{{noteUrl| url}}">Browse all notes</a></p>
  {% set tagUrl %}/en/tags/{% endset %}
  <p><a href="{{tagUrl | url}}">Browse all tags</a></p> #}
</div>
