---
title: Topics
layout: base
description: "Topics of interest"
permalink: /en/tags/
---

<div class="container">
  <h1>Topics</h1>
  <ul class="taglist">
    {% set orderedCollection = collections | sortObjectByKey %}
    {%- for tag, ideas in orderedCollection %}
    {% if tag !== 'all' and tag !== 'ideas' and tag !== 'ideas_en' and tag !== 'ideas_it' %}
    {% set tagUrl %}/en/tags/{{ tag | slug }}/{% endset %}
    <li class="taglist-item">
      <a href="{{tagUrl|url}}" class="taglist-link">
        {{ tag }}</a> 
        {# <sup>{{ ideas | length }} Ideas</sup> #}
      </li>
    {% endif %}
    {%- endfor -%}
  </ul>
</div>
