---
permalink: /public/robots.txt
eleventyExcludeFromCollections: true
---
# www.robotstxt.org

User-agent: *
Disallow: /build.txt
Disallow: /admin/*

Sitemap: https://danieletabellini.com/sitemap.xml
