---
layout: base
image:
---
<article class="container" data-pagefind-body>
  <h1>{{ title }}</h1>

  {% if (page.fileSlug !== "timeline") %}
  <p>
    <span class="meta__stats">{% if page.lang == 'en' %}About{% else %}Circa{% endif %} {{ content | readingTime }} {%
      if page.lang == 'en' %}reading time{% else %}per la lettura{% endif %}</span>
  </p>
  {% endif %}

  {{ content | safe }}

  {% if (page.fileSlug !== "timeline") %}
  <div class="idea-metadata" data-pagefind-ignore>
    {# <time class="ideaslist-date" datetime="{{ page.date | dateToFormat('yyyy-MM-dd') }}">{{ page.date | dateToFormat('yyyy MM') }}</time> #}
    {# /  #}
    {% for tag in tags | filterTagList %}
    {% set tagUrl %}/{{ page.lang }}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="idea-tag">{{ tag }}</a> &nbsp;
    {% endfor %}
  </div>
  {% endif %}

  {# {%- if collections.ideas %}
  {%- set previousidea = collections.ideas | getPreviousCollectionItem %}
  {%- set nextidea = collections.ideas | getNextCollectionItem %}
  {%- if nextidea or previousidea %}
  <ul class="links-nextprev" data-pagefind-ignore>
    {%- if previousidea %}
    <li>
      {%- if page.lang == 'it' %}Precedente{% else %}Previous{% endif %}: <a href="{{ previousidea.url | url }}">{{
        previousidea.data.title }}</a>
    </li>
    {% endif %}
    {%- if nextidea %}
    <li>
      {%- if page.lang == 'it' %}Successiva{% else %}Next{% endif %}: <a href="{{ nextidea.url | url }}">{{
        nextidea.data.title }}</a>
    </li>
    {% endif %}
  </ul>
  {%- endif %}
  {%- endif %} #}
</article>